* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: custom, sans-serif;
}


@font-face {
    font-family: 'custom';
    /* Provide a name for your font */
    src: url('/assets/fonts/Simpsonfont\ DEMO.otf') format('opentype')
}

body {
    overflow-x: hidden;
    background-color: #0b0c0e;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.text-green {
    color: orange !important;
    font-weight: bold;
}

.page-wrap {
    width: 100dvw;
    height: 100dvh;
    position: relative;
}

.box {
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.169);
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    z-index: 10;
    opacity: .7;
    border-radius: 10px;
    cursor: pointer;
    pointer-events: none;
}

@keyframes blink {
    from {
        opacity: .7;
        transform: scale(1);
    }

    to {
        opacity: 0.4;
        transform: scale(1.1);
    }
}


.code {
    position: absolute;
    bottom: 23%;
    right: 27%;
    width: 27%;
    height: 7%;
    z-index: 1000;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2em;
    font-family: bold;
    text-transform: uppercase;
    color: #000 !important;
    letter-spacing: 1.2em;
}

.shake {
    animation-name: shake;
    animation-iteration-count: infinite;
    animation-duration: .03s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.enterBtn {
    position: absolute;
    bottom: 7%;
    background-color: rgb(30, 29, 37);
    right: 30%;
    width: 27%;
    color: #fff;
    font-size: 1.5em;
    padding: .5em;
    border-radius: 10px;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: lighter;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.overlay p {
    margin-top: 2em;
}

.logo-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-wrap .logo {
    animation-name: grow;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .5s;
    transform: scale(.8);
    animation-direction: alternate;
    cursor: pointer;
    z-index: 1000;
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 10000;
    background-color: #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 10000;
    background-color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    color: #fff;
    font-weight: lighter;
}

.overlay3 .logo {
    width: 10em;
    height: auto;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-direction: alternate;
    transform: rotate(-90deg);
}

@keyframes rotate {
    from {
        transform: rotate(-90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.overlay video,
.overlay2 video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@keyframes grow {
    from {
        transform: scale(.8);
    }

    to {
        transform: scale(1);
    }
}

.overlay img {
    width: 10em;
    height: auto;
}

#page3Btn {
    cursor: pointer;
}

@keyframes shake {
    from {
        transform: rotate(1deg);
    }

    to {
        transform: rotate(-1deg);
    }
}

img {
    height: 100vh;
    width: 100vw;
}

.mobile {
    display: none;
}

.instruction {
    position: absolute;
    top: 1em;
    left: 2em;
    color: #fff;
    animation-name: blink;
    animation-duration: .4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-size: 1em;
}

@media screen and (max-width: 420px) {
    .overlay3 {
        display: flex;
    }
}


@media screen and (max-width: 1024px) {
    .code {
        bottom: 15%;
        font-size: 1.2em;
        color: #000 !important;
        letter-spacing: 1.3em;
    }

    .enterBtn {
        position: absolute;
        bottom: 2%;
        padding: .3em;
        font-size: 1em;
        background-color: rgb(30, 29, 37);
        right: 30%;
        width: 27%;
    }

    img {
        height: 100vh;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .instruction {
        font-size: .7em !important;
    }
}